body {
  padding: 0;
  margin: 0;
  background-color: #f4f9e2;
}
.header-menu {
  width: 100%;
  height: 700px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Albert Sans", sans-serif;
}
.container-logo {
  color: #62d0df;
  font-size: 28px;
}
.container-menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 15px;
  align-items: center;
}
.container-link {
  display: flex;
}
.container-link-ul {
  display: flex;
  padding: 0;
}
.container-link-ul :not(:first-child) {
  margin-left: 15px;
}
.container-link-ul :hover {
  border-bottom: 1px solid #22356f;
  cursor: pointer;
}
.container-link-li {
  display: flex;
  height: 22px;
  list-style: none;
  color: #22356f;
  text-shadow: 0px 0px 2px #22356f;
}
.container-links {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-links-contact {
  padding: 15px 40px;
  color: white;
  background-color: #62d0df;
  border-radius: 50px;
}
.sectionHelpYou {
  margin-top: 150px;
}
.sectionHelpYou-title2 {
  font-size: 48px;
  color: #22356f;
}
.sectionHelpYou-text {
  color: #22356f;
  font-size: 22px;
}
.sectionHelpYou-bottons {
  margin-top: 50px;
}
.sectionHelpYou-bottons-button1 {
  color: white;
  border: none;
  padding: 10px 20px;
  background-color: #f9b640;
}
.sectionHelpYou-bottons-button2 {
  margin-left: 35px;
  color: #f9b640;
  padding: 10px;
  border: none;
}
.whyThriveTalk {
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 500px;
  background-color: #62d0df;
  margin-bottom: 10px;
}
.whyThriveTalk-containerText {
  line-height: 35px;
  font-size: 22px;
  padding-top: 50px;
  margin-left: 74.5px;
  max-width: 555px;
}
.whyThriveTalk-containerText-title {
  margin-bottom: 30px;
}
.whyThriveTalk-containerText-Weight {
  font-weight: 900;
}
.whyThriveTalk-containerImg img {
  max-height: 500px;
}
.helpYouTitle {
  display: flex;
  justify-content: center;
}
.container-health1 {
  display: flex;
  justify-content: space-around;
  background-color: #ffe2de;
}
.container-health1 :first-child {
  display: flex;
  justify-content: center;
}
.container-health1 :nth-child(2) {
  background-color: #c4e769;
  display: flex;
  justify-content: center;
}
.container-health1 :nth-child(3) {
  background-color: #62d0df;
  display: flex;
  justify-content: center;
}
.container-health1 :nth-child(4) {
  display: flex;
  justify-content: center;
  background-color: #0052c1;
}
.container-health1-block {
  width: 100%;
  height: 250px;
  padding-top: 80px;
}
.container-health1-block-title {
  border-top: 3px solid #ffffff;
  color: white;
  font-size: 22px;
  padding-top: 20px;
}
